<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="ua.com.development.spring.rmi"/>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Calculator"/>
        <property name="service" ref="calculator"/>
        <property name="serviceInterface" value="ua.com.development.spring.rmi.calculator.ICalculator"/>
    </bean>

    <bean id="remoteCalculator" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1099/Calculator"/>
        <property name="serviceInterface" value="ua.com.development.spring.rmi.calculator.ICalculator"/>
    </bean>

</beans>