<component name="ArtifactManager">
  <artifact type="war" name="Spring AOP:war">
    <output-path>$PROJECT_DIR$/JavaEE/Spring/Spring AOP/target</output-path>
    <root id="archive" name="spring.aop-1.0.war">
      <element id="artifact" artifact-name="Spring AOP:war exploded" />
    </root>
  </artifact>
</component>