<component name="ArtifactManager">
  <artifact type="war" name="Spring RMI:war">
    <output-path>$PROJECT_DIR$/JavaEE/Spring/Spring RMI/target</output-path>
    <root id="archive" name="spring.rmi-1.0.war">
      <element id="artifact" artifact-name="Spring RMI:war exploded" />
    </root>
  </artifact>
</component>