<component name="ArtifactManager">
  <artifact type="war" name="Spring MVC:war">
    <output-path>$PROJECT_DIR$/Spring/Spring MVC/target</output-path>
    <root id="archive" name="spring.mvc-1.0.war">
      <element id="artifact" artifact-name="Spring MVC:war exploded" />
    </root>
  </artifact>
</component>